@model fqtd.Areas.Admin.Models.PropertyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PropertyModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PropertyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
