@{
    ViewBag.Title = "This is step 1";
}
<style>
    .error input, .error select
    {
        border-color: #b94a48;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        color: #b94a48;
    }

    select
    {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        height: 30px;
        line-height: 30px;
    }

    .ui-tooltip
    {
        padding: 8px;
        position: absolute;
        z-index: 9999;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        box-shadow: 0 0 5px #aaa;
        background-color:white;
    }

    body .ui-tooltip
    {
        border-width: 2px;
    }
</style>
<section style="width: 500px; position: relative; overflow: hidden; margin: 0 auto">
    <article style="overflow: hidden; width: 50000px;" id="equityBlock">
        <div style="float: left; width: 500px" id="step1" class="inner">
            <form id="form1" action="result" method="post">
                <div>
                    <input id="address" style="width: 450px" data-required="true" name="address" />
                </div>
                <div style="float: left">
                    <select data-required="true" id="category">
                        <option value="-1">Choose</option>
                        @*<option value="Fast food">Fast food</option>
                        <option value="Coffee">Coffee</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Pizza">Pizza</option>
                        <option value="Super market">Super market</option>
                        <option value="Cinema">Cinema</option>
                        <option value="Cream">Cream</option>*@
                    </select>
                </div>
                <div>
                    <select data-required="true" id="brand">
                        <option value>Choose</option>
                       @* <option value="KFC">KFC</option>
                        <option value="Lotteria">Lotteria</option>
                        <option value="Burger King">Burger King</option>
                        <option value="Pizza hut">Pizza hut</option>
                        <option value="Sumo BBQ">Sumo BBQ</option>
                        <option value="Highland Coffee">Highland Coffee</option>
                        <option value="Gloria Jean's">Gloria Jean's</option>*@
                    </select>

                </div>
                <div>
                    <input id="range" name="range" style="width: 100px" data-required="true" data-pattern="^(?:R\$)?\s*(\d+)(?:[,\.](\d)(\d)?)?\d*$" />
                    <a id="tryit" href="JavaScript:void(0);" title="Geolocation only work exactly with the mobile devices such as Tablet, Cellphone, Laptop.">Get current location</a>                    
                </div>

                <input type="submit" value="Submit" />
                <a class="next" href="JavaScript:void(0);" title="Next">You want to find a specific place ?</a>
            </form>
        </div>
        <div style="float: left; width: 500px" id="step2" class="inner">
            <form id="form2" action="result" method="post">
                <div>
                    <input id="search" style="width: 450px" data-required="true" />
                </div>
                <input type="submit" value="Submit" />
                <a class="pre" href="JavaScript:void(0);" title="Back">You want to find places around a position ?</a>
            </form>
        </div>
    </article>
</section>

<ul style="display: none;" id="index">
    <li class="active"><a href="JavaScript:void(0);">&nbsp;</a></li>
    <li><a href="JavaScript:void(0);">&nbsp;</a></li>
</ul>

@section scripts
 {
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTNlc8mcX8hdGZpkkPK1NXVq1PJY1zYs0&sensor=false&libraries=places"></script>
    <script>
        jQuery(document).ready(function ($) {
            ///event slide
            var chartsBlock = $('#equityBlock');
            chartsBlock.smSlideChart({
                btnNext: $('.next'),
                btnPrev: $('.pre'),
                thumbs: $('#index'),
                callback: function (t, f) { }
            });

            $.ajax({
                url: '/admin/categories/Categories',
                type: 'GET',
                //data: { code: location, type: typeLoc },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    for (i in data) {
                        //alert(data[i]["BrandName"]);
                        $('#category').append('<option value="' + data[i]["CategoryID"] + '">' + data[i]["CategoryName"] + '</option>');
                    }
                },
                error: function () {
                    alert("Something went wrong");
                }
            });
           
            $.ajax({
                url: '/admin/brand/BrandsByCategory/' + $("category").value,
                type: 'GET',
                //data: { code: location, type: typeLoc },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    for (i in data) {
                        //alert(data[i]["BrandName"]);
                        $('#brand').append('<option value="' + data[i]["BrandID"] + '">' + data[i]["BrandName"] + '</option>');
                    }
                },
                error: function () {
                    alert("Something went wrong");
                }
            });

            //watermark and validation
            $("#address").watermark("Please input your current position");
            $("#search").watermark("Please enter address you want to find");
            $("#range").watermark("Range");
            $("#form1").validate({
                onChange: true,
                eachValidField: function () {

                    $(this).closest('div').removeClass('error').addClass('success');
                },
                eachInvalidField: function () {

                    $(this).closest('div').removeClass('success').addClass('error');
                }
            });
            $("#form2").validate({
                onChange: true,
                eachValidField: function () {

                    $(this).closest('div').removeClass('error').addClass('success');
                },
                eachInvalidField: function () {

                    $(this).closest('div').removeClass('success').addClass('error');
                }
            });


            ///Bind tooltip
            $("#tryit").tooltip({
                show: null,
                position: {
                    my: "left top",
                    at: "left bottom"
                },
                open: function (event, ui) {
                    ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
                }
            });

            ///bind event to get current position
            $("#tryit").click(function () {
                if (navigator.geolocation) {
                    // Get current position
                    navigator.geolocation.getCurrentPosition(function (position, status) {
                        var geocoder = new google.maps.Geocoder();
                        myplace = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        if (geocoder) {
                            geocoder.geocode({ 'latLng': myplace }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    $("#address").val(results[0].formatted_address);
                                }
                                else {
                                    console.log("Geocoding failed: " + status);
                                }
                            });
                        }
                    });
                }
                else {
                    // No geolocation fallback: Defaults to Eeaster Island, Chile
                    alert("Please turn on your location service so we can locate where you are.");
                };
            });           

            //bind places autocomplete
            $("#address").geocomplete();
            
        });


    </script>
}
