@{
    ViewBag.Title = "This is step 1";
    Layout = "~/Views/Shared/MasterHome.cshtml";    
}
<div id="content_home">
    <div id="content">
        <div id="step1" class="inner">
            <form id="form1" action="result" method="post">
                <div id="home_left">
                </div>
                <div id="home_center">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="3" height="50">
                                <div>
                                    <input id="address" data-required="true" name="address" />
                                </div>
                            </td>
                            <td width="34">
                                <a id="tryit" href="JavaScript:void(0);" title="Geolocation chỉ hoạt động chính xác với các thiết bị di động như Điện thoại, Laptop, Máy tính bảng.">
                                    <img src="../images/icon1.png" /></a></td>
                        </tr>
                        <tr>
                            <td height="50">
                                <div>
                                    <select data-required="true" id="category">
                                        <option>Loại</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select data-required="true" id="brand">
                                        <option>Tên quán</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input id="range" name="range" data-required="true" data-pattern="^(?:R\$)?\s*(\d+)(?:[,\.](\d)(\d)?)?\d*$" />
                                </div>
                            </td>
                            <td>mét</td>
                        </tr>
                        <tr>
                            <td height="50">&nbsp;</td>
                            <td>
                                <input type="submit" value="TÌM" id="btn_home1" /></td>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="home_right">
                    <div id="banmuontim">
                        <a class="next" href="JavaScript:void(0);" title="Bạn muốn tìm một địa điểm bất kỳ?">Bạn muốn tìm một<br />
                            địa điểm bất kỳ?
                    <img src="../images/icon_black.png" /></a>
                    </div>
                </div>
            </form>
        </div>
        <div id="step2" class="inner">
            <form id="form2" action="result" method="post">
                <div id="home_left2">
                    <div id="banmuontim2">
                        <a class="pre" href="JavaScript:void(0);" title="Bạn muốn tìm xung quanh một địa điểm xác định?">Bạn muốn tìm xung quanh<br />
                            một địa điểm xác định?
                        <img src="../images/icon_black2.png" /></a>
                    </div>
                </div>
                <div id="home_center2">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="4" height="50">
                                <div>
                                    <input id="search" data-required="true" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td height="50" width="200">&nbsp;</td>
                            <td>
                                <input type="submit" value="TÌM" id="btn_home2" /></td>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>

                </div>
                <div id="home_right2">
                </div>
            </form>
        </div>
    </div>
</div>
<ul class="hidden" id="index">
    <li class="active"><a href="JavaScript:void(0);">&nbsp;</a></li>
    <li><a href="JavaScript:void(0);">&nbsp;</a></li>
</ul>

@section scripts
 {
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTNlc8mcX8hdGZpkkPK1NXVq1PJY1zYs0&sensor=false&libraries=places"></script>
    <script>
        jQuery(document).ready(function ($) {
            ///event slide
            var chartsBlock = $('#content');
            chartsBlock.smSlideChart({
                btnNext: $('.next'),
                btnPrev: $('.pre'),
                thumbs: $('#index'),
                callback: function (t, f) { }
            });

            //Bind data to select box Category
            var urlCategory = "/admin/categories/Categories";
            $.getJSON(urlCategory + "?vn0_en1=0", null, function (categories) {
                for (i in categories) {
                    category = categories[i];
                    $("#category").append('<option value="' + category.CategoryID + '">' + category.CategoryName + '</option>');;
                }
            });

            //Bind data to select box Brand
            var urlBrand = "/admin/brand/BrandsByCategory";
            $.getJSON(urlBrand + "?id=-1", null, function (brands) {
                for (i in brands) {
                    brand = brands[i];
                    $("#brand").append('<option value="' + brand.BrandID + '">' + brand.BrandName + '</option>');;
                }
            });

            //Cascade select box Category
            $('#category').change(getBrand);

            function getBrand() {
                var siteurl = "/admin/brand/BrandsByCategory";
                var categoryVal = $('#category').val();
                var data = '?id=' + categoryVal;
                $("#brand").empty();
                //alert(siteurl+' '+data);               
                $.getJSON(siteurl + data, null, function (brands) {
                    for (i in brands) {
                        brand = brands[i];
                        $("#brand").append('<option value="' + brand.BrandID + '">' + brand.BrandName + '</option>');;
                    }
                });
            }

            //watermark and validation
            $("#address").watermark("Nhập địa chỉ hiện tại của bạn");
            $("#search").watermark("Nhập tên hoặc địa chỉ quán bạn muốn tìm");
            $("#range").watermark("Bán kính");
            $("#form1").validate({
                onChange: true,
                eachValidField: function () {

                    $(this).closest('div').removeClass('error').addClass('success');
                },
                eachInvalidField: function () {

                    $(this).closest('div').removeClass('success').addClass('error');
                }
            });
            $("#form2").validate({
                onChange: true,
                eachValidField: function () {

                    $(this).closest('div').removeClass('error').addClass('success');
                },
                eachInvalidField: function () {

                    $(this).closest('div').removeClass('success').addClass('error');
                }
            });


            ///Bind tooltip
            $("#tryit").tooltip({
                show: null,
                position: {
                    my: "left top",
                    at: "left bottom"
                },
                open: function (event, ui) {
                    ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
                }
            });

            ///bind event to get current position
            $("#tryit").click(function () {
                if (navigator.geolocation) {
                    // Get current position
                    navigator.geolocation.getCurrentPosition(function (position, status) {
                        var geocoder = new google.maps.Geocoder();
                        myplace = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        if (geocoder) {
                            geocoder.geocode({ 'latLng': myplace }, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    $("#address").val(results[0].formatted_address);
                                }
                                else {
                                    console.log("Geocoding failed: " + status);
                                }
                            });
                        }
                    });
                }
                else {
                    // No geolocation fallback: Defaults to Eeaster Island, Chile
                    alert("Please turn on your location service so we can locate where you are.");
                };
            });

            //bind places autocomplete
            $("#address").geocomplete();

        });


    </script>
}
