@model fqtd.Areas.Admin.Models.tbl_SystemContent

@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/MasterSub.cshtml";   
}

<div id="content_home">
    <div id="noidungchinh">
        <h1>Giới thiệu</h1>
        @Html.Raw(Model.SystemContent)
    </div>
</div>
