@model fqtd.Areas.Admin.Models.tbl_SystemContent

@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/MasterSub.cshtml";   
}
<div id="content_home">
    <div id="noidungchinh">
        <h1>Ch&iacute;nh s&aacute;ch bảo mật</h1>
        @Html.Raw(Model.SystemContent)
    </div>
</div>
