@{
    ViewBag.Title = "This is geolocation test page";
}


<div style="width: 200px; float: left">
    <input tabindex="1" type="checkbox" id="input-1">
    <label for="input-1">Car parking</label>
    <br />
    <input tabindex="2" type="checkbox" id="input-2">
    <label for="input-2">Free parking</label>
    <br />
    <input tabindex="3" type="checkbox" id="input-3">
    <label for="input-3">No smoking place</label>
    <br />    
    <input tabindex="4" type="checkbox" id="input-4">
    <label for="input-4">Red bill</label>
    <br />
    <input tabindex="5" type="checkbox" id="input-5">
    <label for="input-5">Delivery</label>
    <br />
    <input tabindex="6" type="checkbox" id="input-6">
    <label for="input-6">Take away</label>
    <br />
    <input tabindex="7" type="checkbox" id="input-7">
    <label for="input-7">Children play ground</label>    
</div>
<div id="googleMap" style="width: 700px; height: 500px; float: left"></div>
<input id="address" type="text" style="width: 500px" value="18/48 Trần quang diệu, phường 14, quận 3, Hồ chí minh, Vietnam" />
<input id="distance" type="text" style="width: 100px" value="5000" />metre(s)


@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTNlc8mcX8hdGZpkkPK1NXVq1PJY1zYs0&sensor=false"></script>
    <script>
        jQuery(document).ready(function ($) {
            var myplace;
            var directionsDisplay;
            var locations = [
                [10.81510, 106.58592, "<h2>You are here 1</h2><p>Nice with geolocation, ain't it?</p>"],
                [10.79284, 106.68549, "<h2>You are here 2</h2><p>Nice with geolocation, ain't it?</p>"],
                [10.83634, 106.60669, "<h2>You are here 3</h2><p>Nice with geolocation, ain't it?</p>"],
                [10.85421, 106.57408, "<h2>You are here 4</h2><p>Nice with geolocation, ain't it?</p>"],
                [10.64981, 106.72668, "<h2>You are here 5</h2><p>Nice with geolocation, ain't it?</p>"],
                [10.35545, 107.09198, "<h2>You are here 6</h2><p>Nice with geolocation, ain't it?</p>"]
            ];

            distance = $("#distance").val();

            var address = $("#address").val();
            var geocoder = new google.maps.Geocoder();
            if (geocoder) {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        //set map
                        var mapProp = {
                            center: results[0].geometry.location,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                        //set my city
                        var myCity = new google.maps.Circle({
                            center: results[0].geometry.location,
                            radius: parseInt(distance),
                            strokeWeight: 0,
                            fillColor: "#0000FF",
                            fillOpacity: 0.1
                        });
                        myCity.setMap(map);

                        //set direction
                        directionsDisplay = new google.maps.DirectionsRenderer();
                        directionsDisplay.setMap(map);

                        map.fitBounds(myCity.getBounds());
                        markOutLocation(results[0].geometry.location.lat(), results[0].geometry.location.lng(), map);

                        for (i = 0; i < locations.length; i++) {
                            var compareDistance = return_Distance(results[0].geometry.location, new google.maps.LatLng(locations[i][0], locations[i][1]));
                            if (distance >= compareDistance) {
                                markOutLocation(locations[i][0], locations[i][1], map, locations[i][2]);
                            }
                        }

                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }

            $('#input-1,#input-2,#input-3,#input-4,#input-5,#input-6,#input-7').iCheck({
                checkboxClass: 'icheckbox_square',
                increaseArea: '20%' // optional
            });

        });

        function markOutLocation(lat, long, map, contentPopup) {
            var place = new google.maps.LatLng(lat, long);
            var marker = new google.maps.Marker({
                position: place,
                title: 'Click to zoom'
            });
            var infowindow = new google.maps.InfoWindow({
                content: contentPopup + "<button onclick='calcRoute(" + lat + "," + long + ")'>Direction to here</button>"
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
            marker.setMap(map);
        }

        function calcRoute(latitude, longitude) {

            var directionsService = new google.maps.DirectionsService();

            var start = myplace;
            var end = new google.maps.LatLng(latitude, longitude);

            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

        }

        function rad(x) { return x * Math.PI / 180; }

        function return_Distance(latLng1, latLng2) {
            var R = 6371; // km
            var dLat = rad(latLng2.lat() - latLng1.lat());
            var dLon = rad(latLng2.lng() - latLng1.lng());
            var lat1 = rad(latLng1.lat());
            var lat2 = rad(latLng2.lat());

            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d * 1000;
        }
    </script>
}