/* CSS Document */

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 10pt;
    color: #606060;
    background: #ffffff;
}

#header {
    height: 228px;
    width: 100%;
    background-image: url(../images/bg_top_main.jpg);
    background-repeat: repeat-x;
    text-align: center;
}

#header_subpage {
    height: 82px;
    width: 100%;
    background-image: url(../images/bg_top_sub.jpg);
    background-repeat: repeat-x;
}

#wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
    height: 100%;
}

#bottom {
    height: 40px;
    width: 100%;
    background-image: url(../images/bg_bottom.jpg);
    background-repeat: repeat-x;
    text-align: center;
}

#bottom_info {
    width: 960px;
    margin: auto;
    padding: 0;
}

#bottom_left {
    width: 350px;
    display: block;
    float: left;
    text-align: left;
    margin-top: 12px;
    color: #e8e8e8;
}

#bottom_right {
    width: 600px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
    color: #e8e8e8;
}

    #bottom_right a:link {
        color: #e0e0e0;
        text-decoration: none;
    }

    #bottom_right a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    #bottom_right a:active {
        color: #ffffff;
        text-decoration: none;
    }

    #bottom_right a:visited {
        color: #e0e0e0;
        text-decoration: none;
    }

#content {
    width: 50000px;
    height: 360px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#content_home {
    width: 960px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#content_sub {
    width: 960px;
    margin: auto;
    padding: 0;
}

#home_left {
    width: 170px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 80px;
}

#home_center {
    width: 580px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 80px;
}

#home_right {
    width: 170px;
    display: block;
    float: left;
    margin-top: 80px;
}

#home_left2 {
    width: 170px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 80px;
}

#home_center2 {
    width: 580px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 80px;
}

#home_right2 {
    width: 170px;
    display: block;
    float: left;
    margin-top: 80px;
}

#address {
    width: 532px;
    height: 26px;
    border: #bababa 1px solid;
    color: #606060;
}

#search {
    width: 532px;
    height: 26px;
    border: #bababa 1px solid;
    color: #606060;
}


#category {
    width: 180px;
    height: 34px;
    border: #bababa 1px solid;
    color: #606060;
    padding: 3px;
}

#brand {
    width: 180px;
    height: 34px;
    border: #bababa 1px solid;
    color: #606060;
    padding: 3px;
}

#range {
    width: 140px;
    height: 26px;
    border: #bababa 1px solid;
    color: #606060;
}

#banmuontim {
    border-bottom: #e6e6e6 2px solid;
    padding-bottom: 5px;
    margin-top: 10px;
}

#banmuontim a {
    color: #606060;
    font-style:normal;
}

#banmuontim a:hover {
    color: #606060;   
    text-decoration:none;
}

#banmuontim2 {
    border-bottom: #e6e6e6 2px solid;
    padding-bottom: 5px;
    margin-top: 10px;
}

#banmuontim2 a {
    color: #606060;
    font-style:normal;
}

#banmuontim2 a:hover {
    color: #606060;   
    text-decoration:none;
}

#btn_home1 {
    width: 180px;
    height: 28px;
    background-image: url(../images/bg_button.png);
    background-repeat: repeat;
    border: none;
    color: #404040;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

#btn_home2 {
    width: 180px;
    height: 28px;
    background-image: url(../images/bg_button.png);
    background-repeat: repeat;
    border: none;
    color: #404040;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

input {
    padding: 3px;
}

/*-----other---*/
#logo_small {
    position: absolute;
    right: 10px;
}

#back_home {
    position: absolute;
    left: 20px;
    top: 55px;
}

    #back_home a:link {
        color: #e0e0e0;
        font-weight: bold;
        text-decoration: none;
    }

    #back_home a:hover {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
    }

    #back_home a:visited {
        color: #e0e0e0;
        font-weight: bold;
        text-decoration: none;
    }

#noidungchinh {
    margin: 30px 0px;
}

    #noidungchinh h1 {
        color: #202020;
    }

    #noidungchinh h2 {
        color: #202020;
    }

    #noidungchinh p {
        color: #606060;
        margin-top: 20px;
    }

.lienket:link {
    color: #606060;
    text-decoration: none;
}

.lienket:hover {
    color: #35a018;
    text-decoration: none;
}

.lienket:visited {
    color: #606060;
    text-decoration: none;
}

.active {
    color: #35a018;
    text-decoration: none;
}

.noactive {
    color: #606060;
    text-decoration: none;
}

#textbox {
    width: 400px;
    height: 28px;
    border: #bababa 1px solid;
    color: #606060;
}

#lienhe_form {
    margin-top: 50px;
    margin-bottom: 60px;
}

#btn_guidi {
    width: 100px;
    height: 28px;
    background-image: url(../images/bg_button.png);
    background-repeat: repeat;
    border: none;
    color: #404040;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana;
    margin-right: 10px;
    cursor: pointer;
}

#btn_nhaplai {
    width: 100px;
    height: 28px;
    background-image: url(../images/bg_button.png);
    background-repeat: repeat;
    border: none;
    color: #404040;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 100px;
    left: 45%;
}

#object {
    margin-top: 25px;
}

#photo {
    border: #dadada 1px solid;
    padding: 2px;
    margin-right: 20px;
}

#space {
    width: 100%;
    height: 20px;
}

#map {
    width: 960px;
    height: 610px;
    background-color: #dfdfdf;
    margin-top: 60px;
}

#btn_more {
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
}

#btn_xemthem {
    width: 180px;
    height: 28px;
    background-image: url(../images/bg_button.png);
    background-repeat: repeat;
    border: none;
    color: #404040;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

#cactienich {
    position: absolute;
    left: 0px;
    top: 142px;
}

#tbtable {
    background: #FFFFFF;
    opacity: 0.9;
    padding: 10px;
}

#gioithieuchung {
    margin-top: 60px;
}

    #gioithieuchung h1 {
        color: #d01b12;
    }

#tendiadiem {
    margin-top: 25px;
}

#thongtinchitiet {
    margin-top: 25px;
}

#kq_left {
    width: 685px;
    display: block;
    float: left;
    margin-right: 20px;
    background-color: #CCCCCC;
}

#kq_right {
    width: 230px;
    display: block;
    float: left;
    background-color: #FFCCCC;
}

#group {
    border: #b4b4b4 1px solid;
    padding: 2px;
}

#title_box {
    background-image: url(../images/bg_title_box.jpg);
    background-repeat: repeat-x;
    height: 16px;
    padding: 7px 15px;
    color: #ffffff;
    font-weight: bold;
}

#photo2 {
    border: #dbdbdb 2px solid;
}

#photo3 {
    border: #dadada 1px solid;
    padding: 2px;
}

.chitiet:link {
    color: #35a018;
    text-decoration: none;
}

.chitiet:hover {
    color: #35a018;
    text-decoration: underline;
}

.chitiet:visited {
    color: #35a018;
    text-decoration: none;
}

#content_box {
    margin: 10px 0px;
}

#sociallink {
    background-color: #eaeaea;
    padding: 10px;
}

    #sociallink img {
        margin-right: 3px;
    }

#number {
    text-align: center;
    margin: 20px;
}

.error input, .error select {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: white;
}

.inner {
    float: left;
    width: 960px;
}

.hidden {
    display: none;
}
/********************
*   Mobile Styles   *
********************/
/*
@media only screen and (max-width: 850px) {

will be defined

*/

/* iCheck plugin Square skin, black
----------------------------------- */
.icheckbox_square,
.iradio_square {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../Images/square.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square {
    background-position: 0 0;
}

    .icheckbox_square.hover {
        background-position: -24px 0;
    }

    .icheckbox_square.checked {
        background-position: -48px 0;
    }

    .icheckbox_square.disabled {
        background-position: -72px 0;
        cursor: default;
    }

    .icheckbox_square.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square {
    background-position: -120px 0;
}

    .iradio_square.hover {
        background-position: -144px 0;
    }

    .iradio_square.checked {
        background-position: -168px 0;
    }

    .iradio_square.disabled {
        background-position: -192px 0;
        cursor: default;
    }

    .iradio_square.checked.disabled {
        background-position: -216px 0;
    }

/* Retina support */
/*
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square,
    .iradio_square {
        background-image: url(../Images/square@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
    */
