@{
    ViewBag.Title = "Index";
}

<div class="main-container col2-right-layout">
    <h2>Index</h2>
    @Html.ActionLink("Giới thiệu", "Edit", new { id = fqtd.Areas.Admin.Models.SystemContent.Introduction })
    <br />
   @* @Html.ActionLink("Liên hệ", "Edit", new { id = fqtd.Areas.Admin.Models.SystemContent.Contact })
    <br />*@
    @Html.ActionLink("Điều khoản sử dụng", "Edit", new { id = fqtd.Areas.Admin.Models.SystemContent.Tern4Use })
    <br />
    @Html.ActionLink("Chính sách bảo mật", "Edit", new { id = fqtd.Areas.Admin.Models.SystemContent.Policy })
    <br />
</div>
